<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Vessel" width="20" height="20" src="assets/images/vessel.png"/>
      </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="glyphicon glyphicon-search" href="#"></a></li>
        <li><a class="glyphicon glyphicon-filter" href="#"></a></li>
      </ul>
    </div>
  </div>
</div>
